@page
@model SignalRChat.Pages.HubModel
@{
    ViewData["Title"] = "Hub";
}

<h2>Hub</h2>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User <input type="text" id="userInput" />
            <br />
            Message <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/msgpack5/4.2.0/msgpack5.js"></script>
<script src="~/lib/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
<script src="~/js/chat.js"></script>