
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="/Account/Login" method="post">
    <input type="text" name="UserName" value="r.cadenas.edu@gmail.com" />
    <input type="submit" name="btnIngresar" value="Ingresar" />
</form>
